In [10]:
import numpy as np
import pandas as pd

In [11]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

In [12]:
index = pd.MultiIndex.from_tuples(index)
index

In [13]:
pop = pop.reindex(index)
pop

In [14]:
pop[:,2010]

In [15]:
# 层级索引：低维表达高维

In [16]:
pop_df = pop.unstack()
pop_df

In [17]:
pop_df.stack()

In [19]:
pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df