In [2]:
import numpy as np
import pandas as pd

In [11]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,10,4))
print(type(rng))
print(ser)

<class 'mtrand.RandomState'>
0    6
1    3
2    7
3    4
dtype: int32

In [14]:
df = pd.DataFrame(rng.randint(0,10,(3,4)),columns=['a','b','c','d'])
df

   a  b  c  d
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2

In [16]:
vals1 = np.array([1,None,3,4])
vals1

array([1, None, 3, 4], dtype=object)

In [17]:
for dtype in ['object','int']:
    print('dtype =',dtype)
    %timeit np.arange(1E6,dtype=dtype).sum
    print

dtype = object
52 ms ± 3.15 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
dtype = int
2.27 ms ± 175 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [19]:
vals2 = np.array([1,np.nan,3,4])
print(vals2.dtype)

float64

In [20]:
print(1 + np.nan)

nan

In [24]:
data = pd.Series([1,np.nan,2,None])

In [25]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [26]:
data[data.notnull()]

0    1.0
2    2.0
dtype: float64

In [27]:
data.dropna()

0    1.0
2    2.0
dtype: float64

In [28]:
data.fillna(0)

0    1.0
1    0.0
2    2.0
3    0.0
dtype: float64

In [29]:
data.fillna(method='ffill')
# 从前往后填充

0    1.0
1    1.0
2    2.0
3    2.0
dtype: float64

In [30]:
data.fillna(method='bfill')
# 从后往前填充

0    1.0
1    2.0
2    2.0
3    NaN
dtype: float64